:root{
    --bg-dark: #160042;
    --bg-mid: #;
    --bg-light: #393939e3;
    --primary-clr: #6403cf;
    --secondary-font-clr: #989696;
    --calender-height: 365px;
    --second-calender-height: 345px;
    --third-calender-height: 325px;
    --fourth-calender-height: 305px;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    height: 100%;
}

.calender {
        position: absolute;
    top: 0;
    transition: all .5s ease-in-out;   

    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    padding: 20px;
    background-color: var(--bg-light);
}


.calender .header{
    width: 100%;
    /* margin-bottom: 20px; */
    display: flex;
    align-items: center;
    margin:0 10px 20px;
    justify-content: space-between;
}

.month-btns{
    margin-right: 15px;
    display: flex;
    gap: 5px;
}

.month-btn{
    cursor: pointer;
    background-color: transparent;
    padding: 8px 10px;
    outline: 0;
    border-radius: 50%;
    border-color: transparent;
    color: #fff;

}

.month-btn:hover,
.month-btn:focus{
    background-color: #999;
}

.month-grid{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 30px);
    grid-template-rows: repeat(7, 30px);
    row-gap: 10px;
    column-gap: 10px;
}

.day,
.date{
    background-color: var(--bg-mid);
    border-radius: 50%;
    height: 100%;
    width: 100%;
    color: #fff;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.day.active,
.date.active{
    background-color: var(--primary-clr);

}

.date.out-of-month{
    color: var(--secondary-font-clr);
}


.calenders{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    /* background-color: red; */
    height: var(--calender-height);
}

.one{
    left: 0;
    height: var(--calender-height);
    width: 320px;
    z-index: 3;
    background-color: #666;  
    /* transition: opacity .5s ease-in-out; */

}

.one.to-left{
    transform: translateX(-100%);

    height:var(--fourth-calender-height)
}

.two.to-left{
    transform: translate(-10%);
}

.two{
    left: 10px;
    top: 10px;
    height: var(--second-calender-height);
    width: 320px;
    z-index: 2;
    background-color: #444;
}


.three{
    top: 20px;
    left: 20px;
    height: var(--third-calender-height);
    width: 320px;
    opacity: 1;
    z-index: 1;
    background-color: #333;
}

.four{
    opacity: 0;
    left: 30px;
    top: 30px;
    z-index: 0;
    height: var(--fourth-calender-height);

}